h1 {color:black; font-size:18px; text-align: center;}
p1 {color:darkblue; font-size:12px; text-align: left;}
h2 {color:midnightblue; font-size:18px; text-align: center;}
p2 {color:darkblue; font-size:12px; text-align: left;}

